@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main {
    margin-top: 60px;
}

    .main img {
        width: 38px;
        height: 38px;
        border-radius: 4px;
        opacity: .8;
    }

    .main .home img:hover {
        opacity: 1;
    }

.header .right {
    position: relative;
    top: -4px;
    right: -10px;
}

.header .middle {
    position: relative;
    top: -2px;
}

.cal-heatmap {
    overflow: auto;
}

.user-stats {
    float: left;
    min-width: 400px;
}
