@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        <div class="navbar navbar-expand border-bottom fixed-top bg-light">
            <a class="home col-auto btn p-0" target="_blank" href="http://e1p-templates.celin.io"
               data-toogle="tooltip" data-placement="left" title="Visit Celin's Page Gallery">
                <img src="./images/celin.png">
            </a>
        </div>
        <OMWReporting.Pages.Stats></OMWReporting.Pages.Stats>
    </div>
</div>
